/* Body styles */
body {
    background-color: black;
    text-align: center;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
/* Panel styles */
.panel {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}
/* Game Brand/Logo Styles */
.game-brand{
    background-color: black;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    margin-top: -360px;
    margin-left: -125px;
    position: absolute;
}

/* Hover effect for panels */
.panel:hover {
    box-shadow: inset 0px 0px 0px 3px rgb(40, 22, 33);
    box-sizing: border-box;
}

/* Corner panel styles */
.top-left {
    background-color: green;
    border-top-left-radius: 20%;
}

.top-right {
    background-color: yellow;
    border-top-right-radius: 20%;
}

.bottom-left {
    background-color: blue;
    border-bottom-left-radius: 20%;
}

.bottom-right {
    background-color: red;
    border-bottom-right-radius: 20%;
}

/* Active panel style */
.active {
    background-color: aquamarine;
}

/* Controls styles */
#controls {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
